.price {
  font-size: 2rem;
  line-height: 1;

  &--old {
    font-size: 1.5rem;
    opacity: 0.8;
    color: #4d4d4d;
    text-decoration: line-through;
  }

  &--new {
    opacity: 0.5;
    color: #008604;
    font-weight: 700;
    animation: pulsate 3s ease-out;
    animation-iteration-count: infinite;
  }
}

@keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
